@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville');

.imgDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20vh;
    width: 100vw;
}

.imgHeliki{
    height: auto;
    width: 250px;
    justify-content: center;
    align-content: center;
}

.pImgDiv{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'libre baskerville';
    font-style: italic ;
    letter-spacing: 25px;
    color: #868686;
    font-weight: 400;
    
}

.pDownDiv{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0;
    width: 50%;
    color: #F19D9D;;
       
}