/* ---------MOBILE--------- */

.sectionsDiv{
    margin-top: 150px;
}

.tipsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h3Div {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	/* line-height: 16px; */
	text-align: left;
	letter-spacing: 0.5em;
	color: #e66a6a;
	border-bottom: 1px solid #f19d9d;
	padding: 1rem;
	width: 93vw;
}

.faDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #e66a6a;
	border-bottom: 1px solid #f19d9d;
	padding: 1rem;
	width: 7vw; 
    margin-top: 11px;
    margin-bottom: 11px;
}

.smallButton {
	margin-bottom: 7%;
	width: 150px;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #9e8d8d;
	background: #f9e6e6;
	border-radius: 50px;
	border-style: none;
	padding-top: 14px;
	padding-left: 25px;
	padding-bottom: 14px;
	padding-right: 25px;
	cursor: pointer;
}

/* ---------- tablet & desktop--------- */

@media (min-width: 452px) {
	.sectionsDiv{
		margin-top: 15vh;
	}

	.tipsDiv {
		display: flex;
		justify-content: left;

	}
	
	.h3Div {
		font-family: 'Libre Baskerville';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		/* line-height: 16px; */
		text-align:center;
		letter-spacing: 0.5em;
		color: #e66a6a;
		border-bottom: 1px solid #f19d9d;
		padding: 1rem;
		/* width: 60vw; */
		margin-top: 11px;
		margin-bottom: 11px;
	}
	
	.faDiv{
		display: flex;
		justify-content: flex-start;
		align-items: left;
		color: #e66a6a;
		border-bottom: 1px solid #f19d9d;
		padding: 1rem;
		/* width: 40vw;  */
		margin-top: 11px;
		margin-bottom: 11px;
	}
}